<div class="container">
    <h1>Blog</h1>
    <div class="row mt-4">
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Blog Post 1</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod purus at
              eros rhoncus, a consectetur neque hendrerit. Donec sollicitudin, odio ac bibendum tincidunt, ex lacus
              dignissim ipsum, eu posuere justo mi id turpis. Quisque ullamcorper gravida dui, id aliquet elit
              bibendum in. Nullam nec suscipit justo.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Blog Post 2</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod purus at
              eros rhoncus, a consectetur neque hendrerit. Donec sollicitudin, odio ac bibendum tincidunt, ex lacus
              dignissim ipsum, eu posuere justo mi id turpis. Quisque ullamcorper gravida dui, id aliquet elit
              bibendum in. Nullam nec suscipit justo.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Blog Post 3</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod purus at
              eros rhoncus, a consectetur neque hendrerit. Donec sollicitudin, odio ac bibendum tincidunt, ex lacus
              dignissim ipsum, eu posuere justo mi id turpis. Quisque ullamcorper gravida dui, id aliquet elit
              bibendum in. Nullam nec suscipit justo.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <!-- Add more blog post containers here -->
    </div>
  </div>
  