<div class="container">
    <h1>Our Projects</h1>
    <div class="row mt-4">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="project1.jpg" class="card-img-top" alt="Project 1">
          <div class="card-body">
            <h4 class="card-title">Project 1</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="project2.jpg" class="card-img-top" alt="Project 2">
          <div class="card-body">
            <h4 class="card-title">Project 2</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="project3.jpg" class="card-img-top" alt="Project 3">
          <div class="card-body">
            <h4 class="card-title">Project 3</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container mt-5">
    <h1>Our Technologies</h1>
    <div class="row mt-4">
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Frontend</h4>
            <p class="card-text">We use modern frontend technologies such as Angular, React, and Vue.js to build
              interactive and responsive user interfaces.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Backend</h4>
            <p class="card-text">Our backend development involves technologies like Node.js, Express, and Django,
              ensuring scalable and robust server-side applications.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Database</h4>
            <p class="card-text">For database management, we utilize popular options like MongoDB, MySQL, and
              PostgreSQL, based on project requirements.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  